services:
  api:
    build: ./api
    environment:
      - PORT=3001
    networks:
      - dokploy-network
      - default

  web:
    build:
      context: ./web
      args:
        VITE_API_URL: https://ascii-api.colmena.dev
    networks:
      - dokploy-network
      - default

networks:
  dokploy-network:
    external: true
